<h1> NLP Wizard Application </h1>
<h2><em>Do Natural Language Processing research without needing to code. </em></h2>

<form action="/user_sign_up">
<button>Get started!</button>

<h3>Problem statement</h3>
<p>Natural Language Processing (NLP) is an important method for digital humanists, enabling researchers to look for relationships and patterns between words in large bodies of text. However, to be able to use NLP, a researcher would have to take time to learn Python, R, or another suitable programming language.</p>


<h3>What is a Wizard in software terms?</h3>
<p>A software wizard or setup assistant is a user interface that leads you through a sequence of small steps, like a dialog box to configure a program for the first time. A complex, rare, or unfamiliar task may be easier with a wizard that breaks the task into simpler pieces.</p>

<h4>Therefore, this application is meant to act as a wizard for researchers who want to gain exposure to the potential of NLP for their own work, but would prefer to use a graphical user interface that would be more intuitive to use.</h4>
